
/*        -----Blog Post-----        */

.blog {
  /* border-radius: 75px 0 75px 0; removed this - i don't like it anymore :( */
  margin: auto 2em;
  padding-bottom: 0.5em;
}

section.blog p {
  margin: 25px 50px;
  text-align: justify;
}

.blog-date {
  color: #214e34;
  float: left;
  font-size: 1em;
  font-weight: bolder;
  margin-left: 50px;
  margin-top: 15px;
  text-align: left;
}

.blog-number {
  color: #214e34;
  float: right;
  font-weight: bolder;
  font-size: 1em;
  margin-right: 50px;
  margin-top: 15px;
  text-align: right;
}

section.blog img {
  margin-left: 25px;
  margin-bottom: -3em;
  max-width: 35em;
  text-align: center;
}

code {
  background-color: #d2d2d2;
}

/*        -----Titles-----        */

.blog-title {
  border: 1px solid transparent;
  color: #214e34;
  float: center;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
  padding-top: 40px;
  text-align: center;
}

h4 {
  color: #575a4b;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
  padding-left: 20px;
}

