/* color scheme: https://color.adobe.com/sandy-stone-beach-ocean-diver-color-theme-15325/edit/?copy=true&base=0&rule=Custom&selected=2&name=Copy%20of%20sandy%20stone%20beach%20ocean%20diver&mode=rgb&rgbvalues=0.901961,0.886275,0.686275,0.654902,0.639216,0.494118,0.937255,0.92549,0.792157,0.0156863,0.388235,0.501961,0,0.184314,0.184314&swatchOrder=0,1,2,3,4 */

/* use 200%, 150%, 112.5% and 100% for font sizes (h1, h2, h3, body) */

* {
}

body {
  margin: 0;
  background-color: #002F2F;
  list-style: none;
}

nav {
  background-color: #002F2F;
  height: auto;
  line-height: 40px;
  width: 100%;
  position: fixed;
  top: 0px;
  text-align: center;
/*  font-family: Helvetica;
*/}

nav a {
  letter-spacing: 2px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #EFECCA;
}

nav a:hover {
  color: #A7A37E;
}

section {
  margin: 0px 150px;
  min-width: 500px;
  background-color: #EFECCA;
  padding: 5px 20px 5px 20px;
}

#first {
  padding-top: 25px;
}

h1, h2, h3 {
  letter-spacing: 2px;
  color: #046380;
  text-transform: uppercase;
/*  font-family: Helvetica;
*/}

h3 {
  font-size: 100%;
  padding-left: 20px;
  margin-bottom: 0px;
}

ul {
  margin: 0px;
  padding-left: 25px;
}

li {
  list-style: none;
  line-height: 150%;
}

section a {
  letter-spacing: 1px;
  color: #002F2F;
  text-decoration: none;
  font-size: 90%;
/*  font-family: Helvetica;
*/}

section a:hover {
  color: #046380;
  font-weight: bold;
}

footer {
  letter-spacing: 2px;
  font-size: 65%;
  text-align: center;
  margin-bottom: 0;
  height: 30px;
  background-color: #002F2F;
  color: #EFECCA;
}