/*        -----Notes-----


Color Hex Used: "Of the Ground" on Color-hex.com

http://www.color-hex.com/color-palette/5479

/*        -----General-----        */

/* = = = Page Backgrounds = = = */

* {
  font-family: arial;
  margin: 0; /* Allows items like the header's background color to cover the entire respective portion of the website. */
}

body {
  background-color: #214e34;
}

header {
  background-color: #5b8c5a;
}

nav {
  background-color: #214e34;
}

section.leftside, section.rightside {
  background-color: #f5f9e9;
}

section.blog {
  background-color: #f5f9e9;
}

.projectOn, .projectOff {
  background-color: #f5f9e9;
  text-align: center;
}

/* = = = Icon Resizing and Spacing = = = */

section.icons a img {
  max-height: 50px;
  max-width: 50px;
  margin: 25px;
  margin-bottom: -5px;
}

/* = = = Header Formatting = = = */

header section.name {
  height: 5em;
  width: 49%;
  display: inline-block;
  text-align: center;
  color: #f5f9e9;
}

header section.icons {
  height: 5em;
  width: 49%;
  display: inline-block;
  text-align: center;
}

nav {
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

nav a {
  text-decoration: none;
  color: #f5f9e9;
  padding-left: 2em;
  padding-right: 2em;
}

nav a:hover {
  color: #5b8c5a;
}

/* = = = Column Formatting = = = */

section.leftside {
  height: auto;
  min-height: 45em;
  width: 40%;
  margin: auto;
  float: left;
  padding-left: 10%;
}

section.rightside {
  height: auto;
  min-height: 45em;
  width: 40%;
  margin: auto;
  float: left; /* Float left to prevent space in-between left column and right column. Appears after leftside because it's secondary in the order. */
  padding-right: 10%;
}

section.leftside h4, section.rightside h4 {
  text-align: center;
  color: #575a4b;
  padding-top: 1em;
}

section.leftside img, section.rightside img {
  max-width: 250px;
  max-height: 250px;
  min-width: 250px;
  min-height: 250px;
}

section.leftside a

section.leftside ol, section.rightside ol {
  margin: 10%;
  padding-left: 15%;
  color: #575a4b;
  font-size: 1em;
}

/* = = = List Formatting = = = */

section ol li a {
  text-decoration: none;
  color: #575a4b;
  text-align: justify;
  font-size: 1em;
}

section.blog li {
  padding-left: 1em;
  text-align: justify;
  padding-right: 3em;
}

/* = = = Section Div Formatting = = = */

section div {
  padding-top: 1em;
  padding-bottom: 1em;
}

/*
section div.projectOn {
  margin-right: -20%;
}

            Removed due to creating spacing issue.

section div.projectOff {
  margin-left: -20%;
}  */

section div a {
  text-decoration: none;
  color: #575a4b;
  text-align: center;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* = = = Footer Formatting = = = */

footer {
  text-align: center;
  color: #f5f9e9;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  clear: both;
}